#footer {
    height: 50px;
    background-color: #121212;
    font: normal normal normal 35px/39px PloniMLv2AAA-Light;
    color: white;
    padding: 5px 15px 5px 5px;
    border-top: 1px solid #707070;
}